In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import mpl_toolkits
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import ensemble

In [2]:
data = pd.read_csv("kc_house_data.csv")

In [37]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,loc
0,7129300520,0,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,-74.7458
1,6414100192,0,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,-74.5980
2,5631500400,0,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,-74.4951
3,2487200875,0,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,-74.8722
4,1954400510,0,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,-74.4282

In [ ]:
data.describe()

In [ ]:
data.isnull().sum()

In [ ]:
data['bedrooms'].value_counts().plot(kind='bar')
plt.title('number of Bedroom')
plt.xlabel('Bedrooms')
plt.ylabel('Count')
sns.despine

In [ ]:
plt.figure(figsize=(10,10))
sns.jointplot(x=data.lat.values, y=data.long.values, size=10)
plt.ylabel('Longitude', fontsize=12)
plt.xlabel('Latitude', fontsize=12)
plt.show()
sns.despine

In [ ]:
plt.scatter(data.price,data.sqft_living)

In [ ]:
loc = data['long']+data['lat']
data['loc'] = loc
plt.scatter(data['loc'],data['price'])

In [ ]:
plt.scatter(data.bedrooms,data.price)

In [ ]:
plt.scatter( data.sqft_lot15,data.price)

In [ ]:
plt.scatter((data['sqft_living']+data['sqft_basement']),data['price'])

In [ ]:
plt.scatter(data.waterfront,data.price)

In [ ]:
plt.scatter(data.zipcode,data.price)

In [ ]:
plt.scatter(data.yr_built	,data.price)

In [ ]:
plt.scatter(data.yr_renovated	,data.price)

In [ ]:
plt.scatter(data.sqft_lot15	,data.price)

In [ ]:
plt.scatter(data.sqft_basement,data.price)

In [15]:
labels = data['price']
conv_dates = [1 if values == 2014 else 0 for values in data.date ]
data['date'] = conv_dates

In [82]:
train1 = data.drop(['id', 'price','waterfront','zipcode','floors','long','lat','sqft_lot15','yr_built','yr_renovated','sqft_lot15','view','date'],axis=1)

In [ ]:
train1.head()

In [33]:
reg = LinearRegression()

In [88]:
x_train , x_test , y_train , y_test = train_test_split(train1 , labels , test_size = 0.30,random_state =2)

In [89]:
reg.fit(x_train,y_train)

LinearRegression()

In [90]:
reg.score(x_test,y_test)

0.5634528162138384

In [100]:
clf = ensemble.GradientBoostingRegressor(n_estimators = 400, max_depth = 5, min_samples_split = 2,
          learning_rate = 0.1, loss = 'ls')

In [101]:
clf.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:290: FutureWarning: The loss 'ls' was deprecated in v1.0 and will be removed in version 1.2. Use 'squared_error' which is equivalent.
  FutureWarning,

GradientBoostingRegressor(loss='ls', max_depth=5, n_estimators=400)

In [102]:
clf.score(x_test,y_test)

0.749922473541236

In [94]:
y_pred = reg.predict(x_test)

156719.71381084254